body{
    position: relative;
    width: 1680px;
    height: 800px;
    
    background: #DDD6CA;
    }
    html {
        height: 100%;
        overflow-x: hidden;
    }
    body {
        min-height: 100%;
        overflow-x: hidden;
    }
    
    body { margin:0}
    
    /* Rectangle 5 */
    #navbar{
        position: absolute;
    width: 1680px;
    height: 81px;
    left: 0px;
    top: 0px;
    
    background: #9D7D61;
    }
    
    #logo {
        position: absolute;
        width: 56px;
        height: 55px;
        left: 16px;
        top: 13px;
        background: url(/logo\ PlaceMe.png);
    }
    
    
    
    /* PlaceMe */
    #name{
        position: absolute;
        width: 137px;
        height: 47px;
        left: 90px;
        top: 17px;
        
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        /* identical to box height */
        text-align: center;
        
        color: #DDD6CA;
        
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    
    /* Home */
    #homeel{
        position: absolute;
        width: 75px;
        height: 35px;
        left: 1258px;
        top: 24px;
        
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        
        color: #DDD6CA;
        
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    /* About Us */
    #aboutel{
    /* About Us */
    
    position: absolute;
    width: 113px;
    height: 35px;
    left: 1363px;
    top: 24px;
    
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    
    color: #DDD6CA;
    
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    /* Contact Us */
    #contactel{
    /* Contact Us */
    
    position: absolute;
    width: 137px;
    height: 35px;
    left: 1506px;
    top: 24px;
    
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    
    color: #DDD6CA;
    
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    }

/* PlaceMe */
#he{
    position: absolute;
    width: 264px;
    height: 94px;
    left: 700px;
    top: 66px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #614D46;
}














#sp11{
    /* Rectangle 11 */
    
    position: absolute;
    width: 733px;
    height: 321px;
    left: 88px;
    top: 902px;
    
    background: #CDC1AB;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    }
    

/* Rectangle 12 */
#sp12{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 532px;
    top: 931px;
    
    background-image: url(\(s2\)woodbine-corridor.jpeg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}

/* NAME */
#n2{
    position: absolute;
    width: 400px;
    height: 65px;
    left: 160px;
    top: 870px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 75px;
    text-decoration-line: underline;
    
    color: #614D46;

}

/* Housing Price: */
#hp2{

    position: absolute;
    width: 400px;
    height: 26px;
    left: 151px;
    top: 962px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;

}

/* Crime Rate: */
#cr2{

    position: absolute;
    width: 400px;
    height: 27px;
    left: 148px;
    top: 1019px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;
}



/* Convenience */
#c2{

    position: absolute;
    width: 202px;
    height: 30px;
    left: 148px;
    top: 1077px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    
    color: #614D46;
    
}


/*NUMBER 3*/





#sp13{
    /* Rectangle 11 */
    
    position: absolute;
    width: 733px;
    height: 321px;
    left: 859px;
    top: 902px;
    
    background: #CDC1AB;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    }
    

/* Rectangle 12 */
#sp14{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1303px;
    top: 931px;
    
    background-image: url(\(s3\)Woodbine-lumsden.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}





































#sp8{
/* Rectangle 8 */

position: absolute;
width: 1128px;
height: 459px;
left: 76px;
top: 2104px;

background: #CDC1AB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;

}
/* Rectangle 10 */
#sp10{
    position: absolute;
    width: 1456px;
    height: 469px;
    left: 112px;
    top: 364px;
    
    background: #CDC1AB;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
}


#sp15{
/* Rectangle 15 */

position: absolute;
width: 733px;
height: 321px;
left: 88px;
top: 1260px;

background: #CDC1AB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 50px;

}


#sp16{
/* Rectangle 16 */


position: absolute;
width: 733px;
height: 321px;
left: 859px;
top: 1260px;

background: #CDC1AB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 50px;
}

#sp9{

/* Rectangle 9 */

position: absolute;
width: 404px;
height: 403px;
left: 1093px;
top: 391px;

background-image: url(\(s1\)niagara.jpeg);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;

}
/* NAME-- */
#n1{
    position: absolute;
    width: 700px;
    height: 69px;
    left: 200px;
    top: 327px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 75px;
    text-decoration-line: underline;
    
    color: #614D46;
    

}



/* NAME */
#n3{
    position: absolute;
    width: 400px;
    height: 65px;
    left: 920px;
    top: 870px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 75px;
    text-decoration-line: underline;
    
    color: #614D46;
    
}


/* NAME */
#n4{
    position: absolute;
    width: 202px;
    height: 65px;
    left: 150px;
    top: 1250px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 75px;
    text-decoration-line: underline;
    
    color: #614D46;
    
}

#n5{
/* NAME */


position: absolute;
width: 400px;
height: 65px;
left: 920px;
top: 1250px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 75px;
text-decoration-line: underline;

color: #614D46;

}


/* Housing Price: */
#hp1{
    
position: absolute;
width: 430px;
height: 50px;
left: 189px;
top: 473px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 47px;

color: #614D46;
}




/* Housing Price: */
#hp3{
    position: absolute;
    width: 400px;
    height: 26px;
    left: 922px;
    top: 962px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;
}

#hp4{
/* Housing Price: */


position: absolute;
width: 400px;
height: 26px;
left: 151px;
top: 1320px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;

color: #614D46;
}


/* Housing Price: */
#hp5{

    position: absolute;
    width: 400px;
    height: 26px;
    left: 922px;
    top: 1320px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;
    

}

/* Crime Rate: */
#cr1{

    position: absolute;
    width: 430px;
    height: 50px;
    left: 189px;
    top: 558px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
    
    color: #614D46;
    

}



#cr3{
/* Crime Rate: */

position: absolute;
width: 400px;
height: 27px;
left: 919px;
top: 1019px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;

color: #614D46;

}

#cr4{
/* Crime Rate: */

position: absolute;
width: 400px;
height: 27px;
left: 148px;
top: 1377px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;

color: #614D46;


}
/* Crime Rate: */
#cr5{
    position: absolute;
    width: 400px;
    height: 27px;
    left: 919px;
    top: 1377px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;
    

}

/* Convenience */
#c1{
    position: absolute;
width: 430px;
height: 50px;
left: 189px;
top: 642px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 47px;

color: #614D46;
    
}


/* Convenience */
#c2{

    position: absolute;
    width: 400px;
    height: 30px;
    left: 148px;
    top: 1077px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;
    
}


/* Convenience */
#c3{
    position: absolute;
    width: 400px;
    height: 30px;
    left: 919px;
    top: 1077px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;

}

/* Convenience */
#c4{
    position: absolute;
    width: 400px;
    height: 30px;
    left: 148px;
    top: 1433px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;

}

/* Convenience */
#c5{
    position: absolute;
    width: 400px;
    height: 30px;
    left: 919px;
    top: 1435px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    
    color: #614D46;
}


/* Ellipse 1

position: absolute;
width: 23px;
height: 23px;
left: 902px;
top: 706px;

background: #D9D9D9;
 */

/* Ellipse 2 

position: absolute;
width: 24px;
height: 23px;
left: 957px;
top: 706px;

background: #D9D9D9;
*/

/* Ellipse 3 
position: absolute;
width: 24px;
height: 23px;
left: 1012px;
top: 706px;

background: #D9D9D9;

*/

/* You have been Placed! */
#yp{
    position: absolute;
    width: 500px;
    height: 47px;
    left: 580px;
    top: 170px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    
    color: #614D46;
}


/* Rectangle 17 */
#sp17{
    position: absolute;
width: 250px;
height: 250px;
left: 532px;
top: 1294px;

background-image: url(\(s4\)oakridge.jpg);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}


/* Rectangle 18 */
#sp18{

    position: absolute;
    width: 250px;
    height: 250px;
    left: 1303px;
    top: 1294px;
    
    background-image: url(\(s5\)briar-hill.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}